<div class="nav__items">
    <h3 class="nav__subtitle">Menu</h3>

    <a href="#" class="nav__link active">
        <i class='bx bx-home nav__icon'></i>
        <span class="nav__name">Home</span>
    </a>
    <a href="#" class="nav__link">
        <i class='bx bx-collection nav__icon'></i>
        <span class="nav__name">Collection</span>
    </a>

    <a href="#" class="nav__link" hx-get="/dashboard" hx-target="#main-content">
        <i class='bx bx-compass nav__icon'></i>
        <span class="nav__name">Explore</span>
    </a>
    <a href="#" class="nav__link">
        <i class='bx bx-calendar nav__icon'></i>
        <span class="nav__name">Schedule</span>
    </a>
    <a href="#" class="nav__link">
        <i class='bx bx-receipt nav__icon'></i>
        <span class="nav__name">Reports</span>
    </a>
</div>