<div class="nav" id="navbar">
    <nav class="nav__container">
        <div>
            <a href="#" class="nav__link nav__logo">
                <img src="/static/img/logo.png" alt="" class="nav__logo-icon" width="60" height="60">
                <span class="nav__logo-name">Awesome Ctl</span>
            </a>

            <div class="nav__list">
                <!-- Menu item -->
                {% block menu_item %}
                {% include 'shared/_menu.html' %}
                {% endblock %}
                <!-- User Item -->
                {% block user_item %}
                {% include 'shared/_user.html' %}
                {% endblock %}
            </div>
        </div>

        <!-- <a href="#" class="nav__link nav__logout">
            <i class='bx bx-log-out nav__icon'></i>
            <span class="nav__name">Log Out</span>
        </a> -->
        <!-- Logout -->
        {% block logout_item %}
        {% include 'shared/_logout.html' %}
        {% endblock %}
    </nav>
</div>